.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px;

    &__header {
        flex: 1;
    }

    &__details {
        flex: 2;
    }

    &__recommandations {
        flex: 1;
    }
}
